<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/_header %>
    <!-- Goofspiel stylesheet -->
    <link rel="stylesheet" href="/styles/goofspiel.css" type="text/css" />

    <script>
    var gameID = <%- JSON.stringify(gameID)%>;
    var thisUser = <%- JSON.stringify(username)%>;
    </script>
    <!-- Goofspiel script -->
    <script type="text/javascript" src="/scripts/goofspiel.js"></script>

    <header>
        <h1><%=gameID%></h1>
    </header>
</head>

<body>
    <h2>Goofspiel is awesome</h2>
    <canvas id="Goofspiel">
        Goofspiel!
    </canvas>
</body>

</html>