<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/_header %>
    <!-- Goofspiel stylesheet -->
    <link rel="stylesheet" href="/styles/goofspiel.css" type="text/css" />

    <script>
    var gameID = <%- JSON.stringify(gameID)%>;
    var thisUser = <%- JSON.stringify(username)%>;
    </script>
    <!-- Goofspiel script -->
    <script type="text/javascript" src="/scripts/goofspiel.js"></script>

    <header>
        <h1><%=gameID%></h1>
    </header>
</head>
<body>
    <h2>Goofspiel is awesome</h2>
    
    <img id="SVG" style="display: none;" src="http://www.w3.org/TR/SVG11/images/painting/fillrule-evenodd.svg" alt="SVG Even-Odd Winding Rule Example" width="1200" height="400" />


 <!--   <img id="Card2c" class="cards" src="../images/2C.png" alt="2c">     -->
    <div><img class='card' src='cards/id.svg'></div>
    <canvas id="Goofspiel">
        Goofspiel!
    </canvas>
</body>

</html>