<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/_header %>
    <header>
        <h1><%=gameID%></h1>
    </header>
</head>

<body>
    <link rel="stylesheet" href="/styles/goofspiel.css" type="text/css" />
    <canvas id="Goofspiel" width="300" height="300">
        Goofspiel!
    </canvas>
</body>

</html>