<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/_header %>
</head>

<body>
  <h1 class="container-fluid alert alert-primary">Hello, world!</h1>

  <form method="POST" action="/games/:id">
    <input class="btn btn-lg btn-primary btn-block" type="submit" value="Join a Goofspiel Game!"></input>
  </form>
</body>

</html>