<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/_header %>
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

</head>

<body>

    
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <h1 class="text-center">Hello, <%=username%>!</h1>
            </div>
             <div class="modal-body">
                <form class="d-flex justify-content-center" method="POST" action="/games/:id">
                  <input class="btn btn-dark" type="submit" value="Join a Goofspiel Game!"></input>
                </form>
             </div>
        </div>
     </div>
</body>

</html>