<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/_header %>
        <header class="text-center mb-6">
            <h1>Login</h1>
        </header>
</head>

<body>
    <form class="form-signin" action="/login" method="POST">
        <div class="text-center mb-4">
            <label>Username: </label>
        </div>
        <div class="form-label-group">
            <input class= "form-control" type="text" id="username" name="username" placeholder="Enter username">
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
    </form>
</body>

</html>