@import "../node_modules/bootstrap/scss/bootstrap";

body {
  background-image: "../images/card-background.jpg"
  background-color: #EEE;

  #Goofspiel {
    background: #0B6E4F;
  }
}

#cards {
  display: none;
}